body 
{
	font-size: 1em;
	line-height: 1.5em;
}

a
{
	color: black;
	text-decoration-line: none;
	font-size: 40px
}

a:hover
{
	text-decoration-line: underline;
	font-size: 41px;
}
.title
{	
	color: black;
	font-size: 100px;
	position:absolute; top:0px; left: 1%; margin-left:0px; margin-right:0px;
}

.subtitle
{
	font-size: 40px;
	color: black;
	text-decoration-line: none;
	position:relative; top:0px; left: 10px; margin-left:0px; margin-right:0px;
}

.subtitle:hover
{

}

.article
{
	position:relative; top:150px;
}

.back
{
	color: black;
	font-size: 50px;
	position:relative; top:0px; right:0px; margin-left:0px; margin-right:0px;
	
	
}

.sub
{
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 1em auto;
	position:relative; top:0px; right:200px; margin-left:0px; margin-right:150px;
}

.note
{
	font-style: italic;
}

.biggest
{
	font-size: 150px;
}

.topLine
{	
	position:absolute; left: 0px; top: 140px;
	line-height: 1.5em auto;
	border-top: 2px solid black;
	width: 100%;
}

